[Unit]
Description=launch chromium-browser
After=smart_mirror_scripts.service

[Service]
User=pi
PIDFile=/run/browser.pid
Environment=DISPLAY=:0
ExecStart=/usr/bin/chromium-browser -kiosk "http://localhost:4567"

[Install]
WantedBy=graphical.target
Alias=browser.service
